body {
    font-family: "Karla", sans-serif;
    color: #FFFFFF;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

h1 {
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 10px;
}

h2 {
    margin-top: 0px;
    margin-bottom: 50px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #D5D4D8;
}

button {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: #10B981;
    padding: 9px 15px;
    border-radius: 6px;
    border: 0px;
    color: #FFFFFF;
    margin-top: 0px;
    margin-bottom: 35px;
    display: block;
}

.output-fields-div {
    display: flex;
    flex-direction: row;
}

.main-div {
    margin-top: 50px;
    text-align: left;
}

.password-div {
    width: 211px;
    height: 39px;
    background-color: #273549;
    border-radius: 6px;
    margin-right: 24px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 10px;
}

#pw-length-label {
    display: block;
    margin-bottom: 10px;
}

#password-length-input {
    height: 20px;
    padding: 9px 15px;
    border-radius: 6px;
    border: 0px;
    color: black;
    margin-bottom: 0px;
}

#password-length-input:focus {
    outline: none;
}

#error-p {
    color: #FB7185;
    font-size: 14px;
    margin-top: 5px;
    display: none;
}

.input-div {
    margin-bottom: 5px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.toggle-label-p {
    margin-bottom: 5px;
    font-size: 14px;
}

.toggle-div {
    display: inline-block;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 40px;
    color: #D5D4D8;
}